---
---

header h1:before {
  content: "  "!important;
  font-size: 24px;
}

header {
  color: #1c21f7 !important;
}

#a-title {
  text-decoration: none!important;
}

$conifer: #004bf9!important;
@import "{{ site.theme }}";

.body {background-image: url('images/bkg1.png');}

$header: #004bf9 !default;
.header {border-bottom: 1px dashed #004bf9;}

$burnt-orange: #ff5706;
$conifer: #004bf9;

h1 { color: #1c21f7 !important; }
h2 { color: #1c21f7 !important; }
h3 { color: #004bf9 !important; }
h4 { color: #004bf9 !important; }
h5 { color: #004bf9 !important; }

#main_content h7 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 18px;
  color: $burnt-orange;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}
