---
---

header h1:before {
  content: "  "!important;
  font-size: 24px;
}

#a-title {
  text-decoration: none!important;
}

body {

  background: $body-background url("../images/bkg.png") 0 0 !important;
}

@import "{{ site.theme }}";


$burnt-orange: #ff5706;

#main_content h7 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 18px;
  color: $burnt-orange;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}
