---
---

header h1:before {
  content: "  "!important;
  font-size: 24px;
}

#a-title {
  text-decoration: none!important;
}


@import "{{ site.theme }}";

.body {background-image: url('images/bkg1.png');}


$burnt-orange: #ff5706;
$conifer: #004bf9;

#main_content h7 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 18px;
  color: $burnt-orange;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}
